*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
main{
	width: 960px;
	padding: 50px 0;
	margin: 300px auto;
	}
section{
	position: relative;
	display: inline-block;
	width: 300px;
	margin-right: 30px;
}
section:last-child{
	margin: 0;
}
.icon{
	background-color: orange;
	color: white;
	position: absolute;
}
img{
	width: 280px;
	margin:10px
}
.text{
	margin: 0 10px 10px 10px;
}