*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
main{
	padding: 50px 0;
	width: 960px;
	margin: 0 auto;
}
.list-box{
	margin-bottom: 50px;
}
.list-item>p{
	padding: 20px;
	font-size: 15px;
}
.list-item:nth-child(odd){
	background-color: #ac12ab;
}
.boxes{
	width: 960px;
}
.box-item{
	width: 30%;
	height: 200px;
	background-color: yellow;
	display: inline-block;
	margin: 0 40px 5% 0;
}
.box-item:nth-child(1){
	background-color: orange;
}
.box-item:nth-child(3){
	margin-right: 0;
}
.box-item:nth-child(5){
	background-color: orange;
}
.box-item:nth-child(6){
	margin-right: 0;
}
.box-item:nth-child(7){
	margin-bottom: 0;
}
.box-item:nth-child(8){
	margin-bottom: 0;
}
.box-item:nth-child(9){
	margin: 0;
	background-color: orange;
}